@light-ash :#bbbdbf;
@dark-ash :#2d3e50;
@white :#ffffff;
@extra-light-ash :#8fa3ba;
@bg-ash:#f2f2f4;
@black :#333333;
@grey :#888888;
@green :#19bd9b;
@violet :#0073c6;
@light-green :#3ccc75;
@light-rose :#e55d8b;
@pink :#f44e57;